body {
    font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: #526488;
    word-spacing: 5px;
    line-height: 1.2;
    text-align: center;
    padding-top: 8vh;
  }